.mainBox {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 11px 27px 24px 27px;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: fit-content;
  width: 100%;
}
.imgIcon {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.labels {
  font-size: 14px;
  color: #707070;
  font-weight: 700;
}
.inputFields {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 6px;
  height: 32px;
  width: 100%;

  font-weight: 500;
  font-size: 14px;
  color: #1e1e1e;
  padding-left: 12px;
}
.inputFields::placeholder {
  color: #1e1e1e;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}

.gridSubComponents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.rowComponents {
  display: grid;
  gap: 12px;
}
.bmiVal {
  background-color: #4169e1;

  border: 1px solid #4169e1;
  font-weight: 700;

  color: #ffffff;
  display: flex;

  align-items: center;
}
.genderGrp {
  display: flex;
  gap: 12px;
}
.genderCard {
  background-color: #eeeeee;
  font-size: 14px;
  width: 60px;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  border-radius: 6px;
}
.gender {
  font-weight: 500;
  color: #707070;
}
.genderBtn input[type="radio"] {
  display: none;
}
.genderIcon {
  height: 22px;
  width: 22px;
}
.units {
  position: absolute;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 500;
  right: 11px;
}
.inputLine {
  position: relative;
}
