.sideBar {
  width: 228px;
  height: 1737px;
  background-color: #ffffff;
  color: #707070;
  padding-top: 20px;
}
.title {
  color: #4169e1;
  font-weight: 800;
  font-size: 24px;

  margin-left: 20px;
}

.menu {
  font-weight: 800;
  font-size: 12px;

  margin-left: 28px;
  margin-top: 24px;
}

.menuItems {
  font-size: 16px;
  font-weight: 500;
}

.menuBox {
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-top: 16px;
  gap: 4px;
}
.MenuSubItems {
  font-size: 14px;
  font-weight: 600;
}
.firstChevron {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 32px;
  gap: 14px;
}
.chevrons {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: 32px;
  gap: 14px;
}
.other {
  font-weight: 800;
  font-size: 11px;
  margin-left: 28px;
  margin-top: 28px;
}
.SettingsBox {
  display: flex;
  align-items: center;
  margin-left: 29px;
  margin-top: 11px;
  gap: 3px;
}
.DashboardBox {
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-top: 12px;
  gap: 4px;
}
